[submodule "test_uis/odontogram_editor_v4"]
	path = src/modules/odontogram/engine
	url = https://github.com/ZoliQua/React-Odontogram-Modul.git
[submodule "src/modules/dq-importer"]
	path = src/modules/dq-importer
	url = https://github.com/ZoliQua/DQ-Importer.git
[submodule "src/modules/dq-techniq"]
	path = src/modules/dq-techniq
	url = https://github.com/ZoliQua/DQ-Dental-Techniq.git
